footer {
   display: flex;
   padding: 20px 0;
   background-color: #000000;
   color: #ffff;
   justify-content: space-around;
   font-family: 'Poppins', sans-serif;
   font-size: 12px;
   width: 100%;
}

footer .link{
   margin-right: 200px;
}

footer .link a{
   margin-right: 100px;
   text-decoration: none;
   list-style-type: none;
   color: #ffff;
}

footer .logo img{
   width: 35%;
   padding-top: 10px;
   display: flex;
   margin-left: 5%;
   align-items: center;
}
footer .bmkg .kontak h1{
   text-align: center;
   margin-right: 40px;
}

footer .bmkg .kontak p{
   text-align: left;
}

footer .bmkg img{
   display: flex;
   width: 14%;
   align-items: center;
}

footer .bmkg {
   display: flex;
}

