@import url("https://fonts.googleapis.com/css?family=Poppins:400,700,900");

.warp-berita {
    padding: 40px 20px 100px 20px;
    text-align: center;
}

.news-title1 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 60px;
    text-align: center;
    margin-bottom: 30px;
}

.warp-flex {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 180px;
    margin-bottom: 15px;
}

.news-event h4 {
    text-align: center;
	font-family: "Poppins";
	font-style: normal;
	font-weight: 600;
	font-size: 14px;
	line-height: 27px;
	color: #5c58b8;
	border-radius: 38px;
	background: #e0e7ff;
    width: 140px;
    padding: 1px;
}

.news-dates {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    color: #000000;
}

.news-writer {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    color: #000000;
}

.news-content {
    text-align: justify;
    line-height: 30px; 
    padding-bottom: 120px; 
}

.news-content p {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    color: #000000;
}